/**
 * @file
 * Styles used by the Upgrade Status module.
 */

.drupal-upgrade-status-form .progress {
  margin: 0 1em 3em 1em;
}

.upgrade-status-summary > summary {
  background-color: #f5f5f2;
  margin: 0 0 1em 0;
  border-bottom: 1px solid #ccc;
}

/* @todo this needs to be hugely improved */
.upgrade-status-summary .report-counters {
  margin: 1em 0;
  font-style: italic;
}

.upgrade-status-summary table {
  margin-top: 1.2em;
}
.upgrade-status-summary thead th {
  width: 33%;
}
.upgrade-status-summary tr > td:first-child {
  font-weight: bold;
  padding-left: 35px; /* LTR */
  background-repeat: no-repeat;
  background-position-x: 10px; /* LTR */
  background-position-y: center;
}
[dir="rtl"] .upgrade-status-summary tr > td:first-child {
  padding-left: 0;
  padding-right: 35px; /* LTR */
  /* @todo x background position for RTL */
}

/* @todo the icon paths only work for sites in domain roots */
.upgrade-status-summary tr.known-errors {
  background-color: #fcf4f2;
}
.upgrade-status-summary tr.known-errors > td:first-child {
  background-image: url(/core/misc/icons/e32700/error.svg);
}
.upgrade-status-summary tr.no-known-error {
  background-color: #f3faef;
}
.upgrade-status-summary tr.no-known-error > td:first-child {
  background-image: url(/core/misc/icons/73b355/check.svg);
}
