/**
 * @file
 * Styles used by the Upgrade Status module.
 */

.upgrade-status-summary > summary {
  background-color: #f5f5f2;
  margin: 0 0 1em 0;
  border-bottom: 1px solid #ccc;
}

/* @todo used important to get around open state specificity overrides, not nice */
.upgrade-status-known-errors > summary,
.upgrade-status-known-errors > summary:hover,
.upgrade-status-known-errors > summary:focus {
  color: #a51b00 !important;
}
.upgrade-status-no-known-errors > summary,
.upgrade-status-no-known-errors > summary:hover,
.upgrade-status-no-known-errors > summary:focus {
  color: #325e1c !important;
}
.upgrade-status-not-scanned > summary,
.upgrade-status-not-scanned > summary:hover,
.upgrade-status-not-scanned > summary:focus {
  color: #734c00 !important;
}

/* @todo icon is outside the open arrow, should be inside */
.upgrade-status-summary details summary {
  padding-left: 35px; /* LTR */
  position: relative;
}
[dir="rtl"] .upgrade-status-summary details summary {
  padding-left: 0;
  padding-right: 35px; /* LTR */
}
.upgrade-status-summary details summary:before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 10px; /* LTR */
  top: 1em;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px; /* LTR */
}
[dir="rtl"] .upgrade-status-summary details summary:before {
  left: auto;
  right: 10px;
  margin-right: 0;
}

/* @todo these icon paths only work for sites in domain roots */
.upgrade-status-summary details.upgrade-status-known-errors summary:before {
  background-image: url(/core/misc/icons/e32700/error.svg);
}
.upgrade-status-summary details.upgrade-status-no-known-errors summary:before {
  background-image: url(/core/misc/icons/73b355/check.svg);
}
.upgrade-status-summary details.upgrade-status-not-scanned summary:before {
    background-image: url(/core/misc/icons/e29700/warning.svg);
}
